body {
    background-image: url(../background/marioworld.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.bloc1 {
    width: 50%;
    height: 100%;
    display: flex;
}

#health1 {
    width: 400px;
    height: 30px;
    background-color: white;
    border-radius: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 40px;
    margin-left: 300px;
}

#health2 {
    width: 400px;
    height: 30px;
    background-color: white;
    border-radius: 80px;
    margin-top: 40px;
    margin-left: 30px;
}

.bloc2 {
    width: 50%;
    height: 100%;
    display: flex;
}

input {
    background-color: red;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    display: flex;
    align-self: flex-end;
}

.butt {
    display: flex;
    justify-content: flex-end;
}

.butt2 {
    display: flex;
    justify-content: flex-end;
}

#screen {
    width: 100%;
    display: flex;
    flex-direction: row;
}