                                        body {
                                            background-image: url(../background/marioworld.jpg);
                                            background-repeat: no-repeat;
                                            background-size: 100% 100%;
                                            display: flex;
                                            flex-direction: column;
                                            background-position: 0 -30px;
                                            margin: 0;
                                            height: 100%;
                                            width: 100%;
                                        }
                                        
                                        header {
                                            display: flex;
                                            width: 100%;
                                            justify-content: space-between;
                                        }
                                        
                                        header section {
                                            width: 400px;
                                        }
                                        
                                        #avatarwario {
                                            margin-top: 15px;
                                            margin-right: 20px;
                                        }
                                        
                                        #avatarmario {
                                            margin-left: 20px;
                                        }
                                        
                                        #health1 {
                                            width: 400px;
                                            height: 20px;
                                            background-color: white;
                                            border-radius: 90px;
                                            margin-top: 40px;
                                            -moz-box-shadow: 0px 5px 0px 0px #cdffff;
                                            -webkit-box-shadow: 0px 5px 0px 0px #cdffff;
                                            -o-box-shadow: 0px 5px 0px 0px #cdffff;
                                            box-shadow: 0px 5px 0px 0px #cdffff;
                                            filter: progid: DXImageTransform.Microsoft.Shadow(color=#cdffff, Direction=180, Strength=0);
                                            border-radius: 10px;
                                        }
                                        
                                        #health2 {
                                            width: 400px;
                                            height: 20px;
                                            background-color: white;
                                            border-radius: 100px;
                                            margin-top: 40px;
                                            margin-left: 30px;
                                            -moz-box-shadow: 0px 5px 0px 0px #cdffff;
                                            -webkit-box-shadow: 0px 5px 0px 0px #cdffff;
                                            -o-box-shadow: 0px 5px 0px 0px #cdffff;
                                            box-shadow: 0px 5px 0px 0px #cdffff;
                                            filter: progid: DXImageTransform.Microsoft.Shadow(color=#cdffff, Direction=180, Strength=0);
                                            border-radius: 10px;
                                        }
                                        
                                        input {
                                            background-color: red;
                                            border-radius: 50px;
                                            width: 40px;
                                            height: 40px;
                                            font-weight: bold;
                                            font-size: 16px;
                                        }
                                        
                                        main {
                                            flex-grow: 1;
                                            display: flex;
                                            justify-content: space-between;
                                            align-items: flex-end;
                                            width: 80%;
                                            margin: auto;
                                        }
                                        
                                        .persowario {
                                            height: 164px;
                                            width: 500px;
                                            animation-name: wario123;
                                            animation-duration: 1.2s;
                                            animation-iteration-count: infinite;
                                            animation-timing-function: step-end;
                                            image-rendering: pixelated;
                                            image-rendering: -o-crisp-edges;
                                            image-rendering: -webkit-optimize-constrast;
                                            image-rendering: -moz-crisp-edges;
                                            image-rendering: optimize-contrast;
                                            -ms-interpolation-mode: nearet-neighbor;
                                        }
                                        
                                        @keyframes wario123 {
                                            0% {
                                                background-image: url("../images/wario_sprite2.png");
                                                background-position: 107px 180px;
                                                width: 92px;
                                                background-size: 295px;
                                            }
                                            33.33% {
                                                background-image: url("../images/wario_sprite2.png");
                                                background-position: 188px 180px;
                                                width: 87px;
                                                background-size: 295px;
                                            }
                                            66.66% {
                                                background-image: url("../images/wario_sprite2.png");
                                                background-position: 275px 180px;
                                                width: 87px;
                                                background-size: 295px;
                                            }
                                        }
                                        
                                        .lightning {
                                            position: absolute;
                                            display: none;
                                            top: 75%;
                                            right: 16%;
                                            height: 104px;
                                            width: 100px;
                                            transition: 0.5s;
                                        }
                                        
                                        .littlelightning {
                                            position: absolute;
                                            display: none;
                                            top: 75%;
                                            right: 15%;
                                            height: 104px;
                                            width: 100px;
                                            transition: 0.5s;
                                        }
                                        
                                        .persomario {
                                            height: 133px;
                                            width: 500px;
                                            animation-name: mario123;
                                            animation-duration: 0.8s;
                                            animation-iteration-count: infinite;
                                            animation-timing-function: step-end;
                                            image-rendering: pixelated;
                                            image-rendering: -o-crisp-edges;
                                            image-rendering: -webkit-optimize-constrast;
                                            image-rendering: -moz-crisp-edges;
                                            image-rendering: optimize-contrast;
                                            -ms-interpolation-mode: nearet-neighbor;
                                        }
                                        
                                        @keyframes mario123 {
                                            0% {
                                                background-image: url("../images/mario_sprite3.png");
                                                background-position: -11px -1272;
                                                width: 103px;
                                                background-size: 328px;
                                            }
                                            33.33% {
                                                background-image: url("../images/mario_sprite3.png");
                                                background-position: 210px -1272px;
                                                width: 103px;
                                                background-size: 328px;
                                            }
                                            66.66% {
                                                background-image: url("../images/mario_sprite3.png");
                                                background-position: 434px -1272px;
                                                width: 109px;
                                                background-size: 328px;
                                            }
                                        }
                                        
                                        .fireball {
                                            display: none;
                                            position: absolute;
                                            top: 78%;
                                            left: 16%;
                                            height: 104px;
                                            width: 100px;
                                            animation-duration: 0.5s;
                                            animation-timing-function: step-end;
                                            /*image-rendering: pixelated;
                                            image-rendering: -o-crisp-edges;
                                            image-rendering: -webkit-optimize-constrast;
                                            image-rendering: -moz-crisp-edges;
                                            image-rendering: optimize-contrast;
                                            -ms-interpolation-mode: nearet-neighbor;*/
                                        }
                                        
                                        @keyframes ball {
                                            0% {
                                                background-image: url("../images/mariofire.png");
                                                background-position: -658px -1538px;
                                                width: 110px;
                                                background-size: 328px;
                                            }
                                            16.66% {
                                                left: 40%;
                                                background-image: url("../images/mariofire.png");
                                                background-position: 215px -1538px;
                                                width: 103px;
                                                background-size: 328px;
                                            }
                                            33.33% {
                                                left: 50%;
                                                background-image: url("../images/mariofire.png");
                                                background-position: 438px -1538px;
                                                width: 109px;
                                                background-size: 328px;
                                            }
                                            50% {
                                                left: 60%;
                                                background-image: url("../images/mariofire.png");
                                                background-position: -658px -1538px;
                                                width: 110px;
                                                background-size: 328px;
                                            }
                                            66.66% {
                                                left: 70%;
                                                background-image: url("../images/mariofire.png");
                                                background-position: 215px -1538px;
                                                width: 103px;
                                                background-size: 328px;
                                            }
                                            83.31% {
                                                left: 80%;
                                                background-image: url("../images/mariofire.png");
                                                background-position: 438px -1538px;
                                                width: 109px;
                                                background-size: 328px;
                                            }
                                        }
                                        
                                        .littlefire {
                                            display: none;
                                            position: absolute;
                                            top: 78%;
                                            left: 13%;
                                            height: 104px;
                                            width: 500px;
                                            animation-duration: 0.5s;
                                            animation-timing-function: step-end;
                                        }
                                        
                                        @keyframes fire {
                                            0% {
                                                background-image: url("../images/littlefire.png");
                                                background-position: 8px -114px;
                                                width: 92px;
                                                background-size: 358px;
                                            }
                                            16.66% {
                                                left: 35%;
                                                background-image: url("../images/littlefire.png");
                                                background-position: -69px -114px;
                                                width: 77px;
                                                background-size: 358px;
                                            }
                                            33.33% {
                                                left: 55%;
                                                background-image: url("../images/littlefire.png");
                                                background-position: -134px -114px;
                                                width: 77px;
                                                background-size: 358px;
                                            }
                                            50% {
                                                left: 80%;
                                                background-image: url("../images/littlefire.png");
                                                background-position: -197px -114px;
                                                width: 77px;
                                                background-size: 358px;
                                            }
                                        }
                                        
                                        h1.blink {
                                            position: absolute;
                                            font-family: pixel;
                                            color: black;
                                            font-size: 70px;
                                            animation: blink 2s infinite;
                                        }
                                        
                                        .gameover {
                                            width: 122vh;
                                            height: 57vh;
                                            left: 21vh;
                                            top: 42vh;
                                            position: absolute;
                                            z-index: 100;
                                            display: none;
                                            padding-left: 46vh;
                                        }
                                        
                                        @keyframes blink {
                                            50% {
                                                opacity: 0;
                                            }
                                        }
                                        
                                        footer {
                                            background-color: black;
                                            display: flex;
                                            flex-direction: row;
                                            justify-content: space-between;
                                            height: 50px;
                                        }
                                        
                                        #buttmario {
                                            position: absolute;
                                            left: 277px;
                                            bottom: 3px;
                                        }
                                        
                                        #buttsupmario {
                                            position: absolute;
                                            left: 225px;
                                            bottom: 3px;
                                        }
                                        
                                        #buttwario {
                                            position: absolute;
                                            right: 208px;
                                            bottom: 3px;
                                        }
                                        
                                        #buttsupwario {
                                            position: absolute;
                                            right: 260px;
                                            bottom: 3px;
                                        }