body {
    background-color: black;
}

header {
    display: flex;
    justify-content: center;
}

.blink {
    font-family: pixel;
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    text-decoration: none;
}

@keyframes gameover {
    50% {
        opacity: 0;
    }
}

a.blink {
    animation: blink 1s infinite;
    margin-top: 20px;
}

.menuimg {
    display: flex;
    justify-content: center;
    margin-top: -5px;
    margin-bottom: 40px;
}